<div style="float: right;">
    <img ng-src="{{'/assets/images/0/82.jpg'}}" style="max-width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/0/84.jpg'}}" style="max-width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2289_0.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2289_04.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2289_00.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
</div>
<div style="position: absolute; right: 0px; padding: 10px">
    <body>Is anybody out there? Can you hear me?</body>
    <div ng-mouseover="sunStyle={'background-color':'pink'}" ng-mouseout="sunStyle={}">
        <h1 ng-style="sunStyle">I said to the sun</h1>
        <h1><i ng-style="sunStyle">"Tell me about the big bang"</i></h1>
        <h1 ng-style="sunStyle">The sun said</h1>
        <h1><i ng-style="sunStyle">"It hurts to become"</i></h1>
    </div>
    <text style="color: aliceblue" ng-mouseover="antStyle={'background-color':'pink'}" 
          ng-mouseout="antStyle={}" ng-touchstart="antStyle={'background-color':'pink'}" 
          ng-touchend="antStyle={}" ng-style="antStyle">
        theres so many tvs, microwaves, radios, i think -- i cant -- im not 100% sure what
        <br> we have here in stock because i cant see anything. Our prices, i hope, 
        <br>arent too low! Look at this refrigerator only $200.  How about this 
        <br>microwave, only $100, thats fair! I'm ants in my eyes johnson, everythings 
        <br>black, i cant see a thing, and also i cant feel anything either, did i 
        <br>mention that? but thats not as catchy as having ants in your eyes, so 
        <br>that always goes, you know, off by the wayside.  Its a very rare condition, 
        <br>my body doesnt allow for the sense of touch.  Am I standing, sitting, 
        <br>i dont know!
    </text>
</div>



