<div style="float: right;">
    <img ng-src="{{'/assets/images/evelyn.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2289_14.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/evelyn.jpg'}}" style="width: 100%; vertical-align: middle; transform: scaleY(-1)"/>
</div>
<div ng-mouseover="sunStyle={'background-color':'pink'}" ng-mouseout="sunStyle={}" 
     style="position: absolute; right: 0px; padding: 10px">
    <h1 ng-style="sunStyle">ig: bex0x0</h1>
    <h1 ng-style="sunStyle">email: slowpoetryhotline@gmail.com</h1>
</div>