<div style="float: right;">
    <img ng-src="{{'/assets/images/1/0166_17A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/0166_20A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/0166_21A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/0166_22A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2212_27A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2212_30A.jpg'}}" style="max-width: 100%; vertical-align: middle;"/>
</div>