<div style="float: right;" ng-init="myNum = 9">
    <img ng-src="{{'/assets/images/crying.jpg'}}" style="max-width: 100%; vertical-align: middle"/><img ng-src="{{'/assets/images/me2.jpg'}}" style="max-width: 100%; vertical-align: middle"/><img ng-src="{{'/assets/images/me1.jpg'}}" style="max-width: 100%; vertical-align: middle"/>
</div>
<div style="position: absolute; right: 0px; padding: 10px; padding-top: 15%" ng-show="showSideBar">
        <h1 style="padding-bottom: 0px; line-height: .6;"><i>192bXEENgkEWUj6eFGzqrTZFNm6ERHbt9v</i></h1>
        <h1 style="padding-bottom: 0px; line-height: .6;"><i>192bXEENgkEWUj6eFGzqrTZFNm6ERHbt9v</i></h1>
        <h1 style="padding-bottom: 0px; line-height: .6;"><i>192bXEENgkEWUj6eFGzqrTZFNm6ERHbt9v</i></h1>
</div>
