<div style="float: right;">
    <img ng-src="{{'/assets/images/0/82.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/0/84.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/0/83.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2289_04.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2289_0.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/1/2289_00.jpg'}}" style="width: 100%; vertical-align: middle;"/>
</div>