<h1><a ng-style="getLinkColorCss('home')" ng-click="setCurrentLink('home')" href="#!">bex</a></h1>
<h1><a ng-style="getLinkColorCss('slow_poetry')" ng-click="setCurrentLink('slow_poetry')" href="#!slow_poetry">slow poetry</a></h1>
<h1><a ng-style="getLinkColorCss('film_stills')" ng-click="setCurrentLink('film_stills')" href="#!film_stills">film stills</a></h1>
<h1><a ng-style="getLinkColorCss('art')" ng-click="setCurrentLink('art')" href="#!art">art</a></h1>
<h1><a ng-style="getLinkColorCss('about')" ng-click="setCurrentLink('about')" href="#!about">about</a></h1>
<h1><a ng-style="getLinkColorCss('contact')" ng-click="setCurrentLink('contact')" href="#!contact">contact</a></h1>