<div style="float: right;">
    <img ng-src="{{'/assets/images/0/0.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/1.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/2.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/3.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/4.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/5.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/6.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/58.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/59.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/60.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/61.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/62.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/0/63.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <h1 ng-style="sunStyle">Email slowpoetryhotline@gmail.com to buy a hardcopy of the book (w the complete set of photos)</h1>
</div>